@model IEnumerable<SockMonkeyStore.Models.Product>

@{
    ViewBag.Title = "Products";
}

<h2>View</h2>

@{ 
    if (!Model.Any())
    {
        <h3>Sorry we dont curently have any items for sale. Please check back soon!</h3>
    }
    else
    {
                 
    }
 }
